<%= f.input question.id.to_s, label:  question.properties['label'], hint:  question.properties['hint'], required: question.required, wrapper: :prepend do %>
  <% if question.properties['add_on'] == 'prepend' %>
    <span class="input-group-addon"><%= question.properties['currency'] || '$' %></span>
  <% end %>

  <%= f.input_field question.id.to_s, as: :integer, min: 0, class: 'form-control' %>

  <% if question.properties['add_on'] == 'append' %>
    <span class="input-group-addon"><%= question.properties['currency'] || '$' %></span>
  <% end %>
<% end %>