<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @forms.each do |form| %>
          <tr>
            <td><%= form.id %></td>
            <td><%= form.name %></td>
            <td>
              <%= link_to 'New Entry', new_company_form_entry_path(form), class: 'btn btn-xs btn-info' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>